body, h1, p, ul, li, a{

    /* Modelo de Caixa */
    margin: 0px;
    padding: 0px;
}

body{
    /* Outros */
    font-family: "Nunito", Helvetica, sans-serif;
}

ul{
    /* Outros */
    list-style: none;
}

a{
    /* Outros */
    text-decoration: none;
}

img{
    /* Modelo de Caixa */
    max-width: 100%;

    /* Display */
    display: block;
}

*{
    /* Modelo de Caixa */
    box-sizing: border-box;
}

/* Superinfo */

.superinfo-bg{
    /* Outros */
    color: #ffffff;
    background: #122ab2;
}


.superinfo{
    /* Modelo de Caixa */
    margin: 0 auto;
    max-width: 960px;
    padding-top: 10px;

    /* Display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.superinfo p, .superinfo a{
    /* Modelo de Caixa */
    margin: 0px 10px 10px 10px;
}

.superinfo a{
    /* Outros */
    color: #ffffff;
}

/* Menu */

.menu-bg{
    /* Outros */
    background: #2c70ff;
}

.menu{
    /* Position */
    align-items: center;

    /* Modelo de Caixa */
    margin: 0 auto;
    padding: 15px 0;
    max-width: 960px;

    /* Display */
    display: flex;
    justify-content: space-between;
}

.menu a{
    /* Outros */
    color: #ffffff;
}

.menu-logo a{
    /* Modelo de Caixa */
    margin: 0 10px;

    /* Outros */
    font-size: 2.5em;
}

.menu-nav ul{
    /* Display */
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    /* Modelo de Caixa */
    padding: 10px;

    /* Display */
    display: block;

    /* Outros */
    font-size: 1.25em;
}

.menu-nav a:hover{
    /* Outros */
    color: #122ab2;
}

/* Introdução */

.introducao{
    /* Modelo de Caixa */
    margin: 0 auto;
    max-width: 960px;
    padding: 60px 10px;

    /* Outros */
    font-size: 3em;
    line-height: 1em;
}

.introducao{
    /* Modelo de Caixa */
    margin: 0 auto;
    max-width: 960px;
    padding: 60px 10px;

    /* Outros */
    font-size: 3em;
    line-height: 1em;
}

.sobre{
    /* Modelo de Caixa */
    margin: 0 auto;
    padding: 60px 0;
    max-width: 960px;
    border-top: 2px solid #122ab2;
    border-bottom: 2px solid #122ab2;

    /* Display */
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    /* Modelo de Caixa */
    margin: 0 10px;

    /* Display */
    flex: 2 1 300px;
}

.sobre-info h1{
    /* Display */
    margin-bottom: 0.5em;

    /* Outros */
    font-size: 3em;
}

.sobre-info p{
    /* Modelo de Caixa */
    margin-bottom: 1em;

    /* Outros */
    line-height: 1.4;
    color: #7c7c7c;
    font-size: 1.25em ;
}

.sobre-img{
    /* Modelo de Caixa */
    margin: 10px;

    /* Display */
    flex: 1 1 160px;
}

/* Produtos */

.produtos{
    /* Modelo de Caixa */
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1{
    /* Modelo de Caixa */
    margin: 0 10px 60px 10px;

    /* Outros */
    font-size: 3em;
}

.produtos-container{
    /* Display */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item {
    /* Modelo de Caixa */
    margin: 10px;

    /* Display */
    flex: 1 1 175px;
}

.produtos-item h2{
    /* Modelo de Caixa */
    margin: 0 auto;
    padding: 60px 20px;

    /* Outros */
    font-size: 3em;
    color: #a4a4a4;
    background: #f7f7f7;
}

.purple{
    /* Position */

    /* Modelo de Caixa */
    border-top: 8px solid #ae81ff;

    /* Display */

    /* Outros */
}
.pink{
    /* Modelo de Caixa */
    border-top: 8px solid #f9265e;
}
.blue{
    /* Modelo de Caixa */
    border-top: 8px solid #66d9eb;
}

/* Preco */

.preco {
    /* Modelo de Caixa */
    padding: 60px;
    
    /* Display */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    /* Outros */
    background: #f7f7f7;
}

.preco-item{
    /* Modelo de Caixa */
    margin: 10px;
    padding: 20px;
    border: 4px solid #ffffff;
    
    /* Display */
    flex: 1 1 260px;
}

.preco-item h2{
    /* Modelo de Caixa */
    margin-top: 20px;
    
    /* Outros */
    font-size: 3em;
    color: #c8c8c8;
    text-align: center;
}

.preco-item span{
    /* Modelo de Caixa */
    max-width: 300px;
    margin: 20px auto;
    padding: 10px 0 5px 0;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    
    /* Display */
    display: block;
    
    /* Outros */
    font-size: 3em;
    text-align: center;
}

.preco-item sup{
    /* Outros */
    font-size: 1.5rem;
}

.preco-item ul{
    /* Modelo de Caixa */
    max-width: 300px;
    margin: 20px auto;

    /* Outros */
    color: #7c7c7c;
    font-size: 1.25em;
    font-style: italic;
}

.preco-item li{
    /* Position */
    align-items: center;
    justify-content: space-between;

    /* Modelo de Caixa */
    margin-bottom: 15px;

    /* Display */
    display: flex;
}

.preco-item li::after{
    /* Modelo de Caixa */
    width: 6px;
    height: 6px;
    
    /* Display */
    display: block;
    
    /* Outros */
    content:'';
    border-radius:50%;
    background-color: #122ab2;
}

.preco-item a{
    /* Position */
    text-align: center;

    /* Modelo de Caixa */
    padding: 20px;
    padding: 15px 0;
    max-width: 300px;
    margin: 20px auto;
    border: 4px solid #222222;

    /* Display */
    display: block;

    /* Outros */
    color:#222222;
    font-weight: bold;
    font-size: 2.25em;
    text-transform: uppercase;
}

@media (max-width: 800px){
        .preco{
        padding-top: 10px;
        padding-right:10px;
    }
    .preco .preco-item:nth-child(3){
        order: -2;
    }
    .preco .preco-item:nth-child(2){
        order: -1;
    }
}

/* Qualidade */

.qualidade{
    /* Modelo de Caixa */
    max-width: 960px;
    margin: 60px auto;

    /* Display */
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item{
    /* Modelo de Caixa */
    margin: 20px 10px;

    /* Display */
    flex: 1 1 300px;
}

.qualidade-item h2{
    /* Modelo de Caixa */
    margin-bottom: 20px;

    /* Outros */
    font-size: 2.5em;
    color: #a4a4a4;

}

.qualidade-item h2::before{
    /* Modelo de Caixa */
    width: 8px;
    height: 30px;
    display: inline-block;

    /* Outros */
    content: '';
    margin-right: 10px;
    background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
    background: #ae81ef;
}
.qualidade-item:nth-of-type(3n+2) h2::before{
    background: #f9265e;
}
.qualidade-item:nth-of-type(3n+3) h2::before{
    background: #66d9eb;
}

.qualidade-item p{
    /* Outros */
    line-height: 1.4;
    color: #7c7c7c;
    font-size: 1.25em;
}

/* Newsletter */

.newsletter{
    /* Display */
    display: flex;
    flex-wrap: wrap;
    padding: 60px calc((100% - 960px)/2);

    /* Outros */
    background: #f7f7f7;
}

.newsletter-info{
    /* Modelo de Caixa */
    margin: 0 10px;

    /* Display */
    flex: 1 1 260px;
}

.newsletter-info h1{
    /* Outros */
    font-size: 3em;
    color: #a4a4a4;
}

.newsletter-info p{
     /* Modelo de Caixa */
     max-width: 330px;
     margin-bottom: 10px;
     
    /* Outros */
    color: #7c7c7c;
    font-size: 1.5em;
    font-style: italic;
}

.newsletter-form{
    /* Modelo de Caixa */
    margin: 0 10px;
    
    /* Display */
    display: flex;
    flex: 2 1 260px;
    flex-wrap: wrap;
    align-self: center;
     
    /* Outros */
}

.newsletter-form input {
    /* Modelo de Caixa */
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
    border: 4px solid #2c70ff;
    
    /* Display */
    flex: 3 1 200px;
    
    /* Outros */
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    background: transparent;
    font-family: "Nunito", Helvetica, sans-serif;
}

.newsletter-form button{
    /* Modelo de Caixa */
    margin: 0px;
    border: 0px;
    padding: 15px 10px;
    
    /* Display */
    flex: 1 1 200px;
     
    /* Outros */
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.25em;
    background: #2c70ff;
    text-transform: uppercase;
    font-family: "Nunito", Helvetica, sans-serif;
}

@media (max-width: 600px){
    .newsletter-form button{
        font-size: 1.5em;
    }
    
}
/* Footer */

.footer {
    /* Modelo de Caixa */
    height: 200px;
    
    /* Display */
    display: flex;
    align-items: center;
     
    /* Outros */
    background: #2c70ff;
}

.footer p{
    /* Display */
    flex: 1;
     
    /* Outros */
    color: #122ab2;
    font-size: 2.25em;
    text-align: center;
}